@import url('reset.css');
@import url('fuente.css');

body {
	background-image: url(img/background.jpg);
	font-family: Arial, Helvetica, Sans-serif;
}

a {text-decoration:none; color:#ffffff;}

header {
	width:100%;
	height:70px; 
	float:left;
	background: linear-gradient(to bottom, #414747 0%,#6e7774 50%,#383d3b 50%,#594040 52%,#0a0809 100%);
}

h1 {

	font-size: 65px;
}

h2 {

	font-size: 30px;
}